<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <!--contenedor principal seguido por Vue-->
    <main id="app">

        <!--string para título de la aplicación interpolado con vue-->
        <h1>{{titulo}}</h1>
    
        <!--campo para agregar nuevos elementos a la lista-->
        <input type="text" v-model="newElement">
    
        <!--botón para ejecutar una función que agregará el nuevo elemento a la lista de elementos-->
        <button @click="addEl">Agregar Elemento</button>
    
        <!--listado de elementos iterados de un array por vue-->
        <ul>
            <li v-for="fruta of frutas">{{fruta.nombre}} | {{fruta.cantidad}}
    
            <!--propiedad del array condicionada por vue-->
            <span v-if="fruta.cantidad === 0"> - Sin Stock</span>
                </li>
    
        </ul>
    
    </main>

 



<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<script>

    const app = new Vue({

        el: '#app',
        data: {
            titulo: 'Aplicación con VueJs',
            frutas: [
                {nombre: "Manzanas", cantidad: 10},
                {nombre: "Peras", cantidad: 2},
                {nombre: "Cambures", cantidad: 0}
            ],
            newElement: ""
        },
        methods: {
            addEl(){
                this.frutas.push({
                    nombre: this.newElement, cantidad: 0               
                });
                //reseteo del input de texto
                return this.newElement = ""           
            }
        }

    });
    
</script>


</body>
</html>


