<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div id="main">

        <!--capturar datos del usuario-->
        <input type="text" v-model="proof">        

        <!--botón para enviar la información y renderizar en pantalla-->        
        <button @click="addInf">Enviar ha Single Object</button>
        
        <h2>{{info[0]}}</h2>


        <!--capturar datos del usuario-->
        <input type="text" v-model="proof2">        

        <!--botón para enviar la información vía consola-->        
        <button @click="addAlert">Enviar ha una Alerta</button>
        
        <h2>{{info[1]}}</h2>
    
                

    </div>



<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<script>

    const app = new Vue({

        el: '#main',
        data: {            
            info: [

            ],
            proof: "",
            proof2: ""       
        },
        methods: {
            addInf: function(){                
                this.info.push({
                    ref: this.proof
                })
            },

            addAlert: function(){
                alert(this.proof2);
            }
        }      
        

    });
    
</script>


</body>
</html>


